<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Interest Rate</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Interest Rate" [(ngModel)]="rate" type="number">
                        </mat-form-field>
                        <button mat-raised-button class="btn btn-success pull-right" (click)="apply()">save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Interest Rate</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="row" *ngFor="let rate of ratelist">
                            <label class="lbl">{{rate.rate}}%</label>
                            <hr><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">warrent details</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Warrant excuse day count " [(ngModel)]="daycount" type="number">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Warrant rate per month (%)" [(ngModel)]="rateperdate" type="number">
                        </mat-form-field>
                        <button mat-raised-button class="btn btn-success pull-right" (click)="savewarrent()">save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">warrent details</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <p>Warrant excuse day count - {{daycount}}</p>
                        <p>Warrant rate per month - {{rateperdate}}%</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">New Project</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Project name" [(ngModel)]="projectname" >
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="location" [(ngModel)]="location" >
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Lot count" [(ngModel)]="lotcount" type="number">
                        </mat-form-field>
                        <button mat-raised-button class="btn btn-success pull-right" (click)="saveproject()">save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Project details</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="row" *ngFor="let project of projectlist">
                            <div class="col-md-6">
                                <label >{{project.name}}</label>
                            </div>
                            <hr><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <p>වොරන්ට් එක දාන දින ගාන අප්ඩේට් කරන්න හදන්න ඕනේ, වොරන්ට් රේට් එක වෙනස් කරන්න හදන්න ඕනේ</p> -->


    </div>
</div>