<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Payment Histry</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">



                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>R. No </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.id }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="day">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.day | date :'mediumDate' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="warant">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Warant</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.warant| currency:' ' }}
                        </td>
                    </ng-container>



                    <ng-container matColumnDef="interest">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Interest</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{callTwo(element.interest, element.arrearsInterest) | currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="capital">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Capital</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{callTwo(element.capital, element.arrears) | currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nonRefund">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Non. Refund</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.nonRefund| currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="advance">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Advance</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.advance| currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dockCharge">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Do. Charge</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.dockCharge| currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="otherPay">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Other</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.otherPay| currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="over">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;">Over</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            {{ element.over| currency:' ' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: bold;">TOTAL</th>
                        <td mat-cell *matCellDef="let element" style="text-align: right; font-weight: bold;">
                            {{ element.total| currency:' ' }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                </table>
                <br>
                <div class="col-md-6 offset-md-3">
                    <h4>Totally Paid</h4>
                    <table style="width: 100%;">
                        <thead>
                            <th>Type</th>

                            <th style="text-align: right;">Total</th>
                        </thead>

                        <tr>
                            <td>Warant</td>

                            <td style="text-align: right;">{{warrant | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Capital</td>

                            <td style="text-align: right;">{{totCap | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Interest</td>

                            <td style="text-align: right;">{{totInterest | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Non Refundable</td>

                            <td style="text-align: right;">{{nonRefund | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Advance</td>

                            <td style="text-align: right;">{{advance | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Document Charge</td>

                            <td style="text-align: right;">{{doc | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Other</td>

                            <td style="text-align: right;">{{other | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td>Over</td>

                            <td style="text-align: right;">{{over | currency: ' '}}</td>
                        </tr>

                        <tr>
                            <td style="font-weight: bold;">Total Paid</td>

                            <td style="text-align: right; font-weight: bold;">{{total | currency: ' '}}</td>
                        </tr>

                    </table>
                </div>

                <hr>

                <div class="col-md-6 offset-md-3">

                    <h4>Remaining To Pay</h4>
                    <div>
                        <p style="text-align: right; color: red; font-size: medium; ">Warrant : {{war | currency : ' '}}
                        </p>
                    </div>
                    <table style="width: 100%; font-size: medium; ">
                        <thead>
                            <th>Date</th>
                            <th style="text-align: right;">Arrears</th>
                            <th style="text-align: right;">Capital</th>
                            <th style="text-align: right;">Interest</th>
                        </thead>
                        <tbody>

                            <tr style="color: blue;" *ngFor="let item of arrearsData">
                                <td>{{item.payDate}}</td>
                                <td style="text-align: right;  color: red;">{{ item.capitalArrears*1 +
                                    item.interestArrears*1 | currency:' '}}</td>
                                <td style="text-align: right;">{{item.capital | currency:' '}}</td>
                                <td style="text-align: right;">{{item.interest | currency:' '}}</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Total</td>
                                <td style="text-align: right;">{{arrears | currency:' '}}</td>
                                <td style="text-align: right;">{{totalCapital | currency:' '}}</td>
                                <td style="text-align: right;">{{totalInterest | currency:' '}}</td>

                            </tr>

                        </tbody>
                        <br>
                        <tfoot style="font-weight: bold;">
                        </tfoot>
                    </table>
                </div>


            </div>
            <button class="no-print" id="printPageButton" onclick="window.print()">
                PRINT
            </button>
        </div>
    </div>
</div>