<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Update details</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Customer Full Name "
                  [(ngModel)]="cusfullname"
                />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Name With Initials"
                  [(ngModel)]="namewithinitial"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="NIC" [(ngModel)]="nic" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" [(ngModel)]="address" />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile No" [(ngModel)]="mobile" />
              </mat-form-field>
            </div>
          </div>

          <button
            mat-raised-button
            class="btn btn-success pull-right"
            (click)="updatecus()"
            *ngIf="isuserdetails"
          >
            update
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Update loan</h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Loan Amount"
                  [(ngModel)]="loanamount"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Select Rate</mat-label>
                <mat-select [(ngModel)]="rate" (selectionChange)="onChange()">
                  <mat-option *ngFor="let prod of ratelist" [value]="prod">
                    {{ prod.rate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Months"
                  [(ngModel)]="month"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Date"
                  type="date"
                  [(ngModel)]="date"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Documant Chage"
                  [(ngModel)]="doccharge"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>

          <button
            mat-raised-button
            class="btn btn-success pull-right"
            (click)="calloan()"
          >
            calculate
          </button>

          <div class="row" *ngIf="ischeck">
            <div class="col-md-6 offset-md-3">
              <div class="bold">
                <hr />
                <div class="row">
                  <div class="col-md-6"><label>Capital</label></div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ dicapital }}</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Annual interest rate</label>
                  </div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ dianualrate }}%</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Monthly interest rate</label>
                  </div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ dimonthrate }}%</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6"><label>Interest</label></div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ diinstare }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6"><label>Total</label></div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ ditotal }}</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6"><label>Full Total </label></div>

                  <div class="col-md-6">
                    <label style="text-align: right">{{ difulltotal }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            mat-raised-button
            class="btn btn-success pull-right"
            (click)="updateloan()"
            *ngIf="ischeck"
          >
            update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
