<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Get Payment : {{loannumber}}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <h3>Number : {{loannumber}} <br> Name : {{cusname}}</h3>
                    <p>Total Loan Amount : {{totalLoanAmount}}</p>
                    <p>Total Paid : {{paid}}</p>
                    <p>Current Loan Amount : {{current}}</p>
                    <p>Annual interest rate : {{anualRate}}</p>
                </div>

                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <mat-form-field appearance="standard" style="text-align: right;">
                        <mat-label>Pay Amount Rs. </mat-label>
                        <input type="number" matInput (keyup)="cal($event.target.value)" placeholder="Amount" #input>
                    </mat-form-field>
                </div>


                <div class="row">
                    <div class="col-md-8" style="float: none; margin: 0 auto;">
                        <table style="width: 100%; font-size: medium; ">
                            <thead>
                                <th>Pay Type</th>
                                <th style="text-align: right;">Current</th>
                                <th style="text-align: right;">PAY</th>
                            </thead>
                            <tbody>
                                <tr style="color: blue;">
                                    <td>Warant</td>
                                    <td style="text-align: right;">{{warrant | currency:' '}}</td>
                                    <td style="text-align: right;">{{payW | currency:' '}}</td>
                                </tr>
                                <tr style="color: blue;">
                                    <td>Arrears</td>
                                    <td style="text-align: right;">{{arrears | currency:' '}}</td>
                                    <td style="text-align: right;">{{payA | currency:' '}}</td>
                                </tr>
                                <tr style="color: blue;">
                                    <td>Capital</td>
                                    <td style="text-align: right;">{{capitalPerMonth | currency:' '}}</td>
                                    <td style="text-align: right;">{{payC | currency:' '}}</td>
                                </tr>
                                <tr style="color: blue;">
                                    <td>Interest</td>
                                    <td style="text-align: right;">{{interestPerMonth | currency:' '}}</td>
                                    <td style="text-align: right;">{{payI | currency:' '}}</td>
                                </tr>

                                <tr style="color: green;">
                                    <td>Over Pay</td>
                                    <td style="text-align: right;">{{priviarsOver | currency:' '}}</td>
                                    <td style="text-align: right;">{{over | currency:' '}}</td>
                                </tr>
                            </tbody>
                            <tfoot style="font-weight: bold;">
                                <td>Total</td>
                                <td style="text-align: right;">{{totalHaveToPay | currency:' '}}</td>
                                <td style="text-align: right;">{{payT | currency:' '}}</td>
                            </tfoot>
                        </table>
                        <br>
                        <div>
                            <button *ngIf="!clickOnPay" mat-raised-button class="btn btn-success pull-right"
                                (click)="pay()">Get
                                Payment</button>
                        </div>
                    </div>
                </div>


              

            </div>
        </div>


    </div>
</div>