<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Get Payment</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-label class="lab">Number - {{loannumber}}</mat-label>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="lab">Customer Name - {{cusname}}</mat-label>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Pay Amount</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 offset-md-3">

                            <div class="row">
                                <div class="col-md-6"><label>Capital</label></div>

                                <div class="col-md-6"><label style="text-align: right;">hghh</label></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><label>Annual interest rate</label></div>

                                <div class="col-md-6"><label style="text-align: right;">ghgh</label></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><label>Monthly interest rate</label></div>

                                <div class="col-md-6"><label style="text-align: right;">ghg</label></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><label>Interest</label></div>

                                <div class="col-md-6"><label style="text-align: right;">gffg</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><label>Total</label></div>

                                <div class="col-md-6"><label style="text-align: right;">gfgf</label></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><label>Full Total </label></div>

                                <div class="col-md-6"><label style="text-align: right;">gfgf</label></div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>