<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">New Application</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">New Application</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Ref no" [(ngModel)]="refno">
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Customer Full Name " [(ngModel)]="cusfullname">
                            </mat-form-field>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Loan Amount" [(ngModel)]="loanamount">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Customer Full Name " [(ngModel)]="cusfullname">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- <mat-form-field class="example-full-width">
                                <input matInput placeholder="Monthly Interest Rate" >
                            </mat-form-field> -->

                            <mat-form-field>
                                <mat-label>Select Rate</mat-label>
                                <mat-select [(ngModel)]="rate" (selectionChange)="onChange()">
                                    <mat-option *ngFor="let prod of ratelist" [value]="prod">
                                        {{prod.rate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name With Initials" [(ngModel)]="namewithinitial">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Months" [(ngModel)]="month">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="NIC" [(ngModel)]="nic">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date" type="date" [(ngModel)]="date">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address" [(ngModel)]="address">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Documant Chage" [(ngModel)]="doccharge">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngModel)]="checked"
                                    [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                                    [disabled]="disabled">
                                    Add to loan
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Mobile No" [(ngModel)]="mobile">
                            </mat-form-field>
                        </div>
                    </div>
                    <h1>මේකට ඕනේ අනිත් ‍ෆීල්ඩ් දාන්න. ‍ ප්‍රොජෙක්ට් ලොට් නම්බර් එක එහෙම. මේක තව ඇඩ්වන්ස් නන් රිෆන්ඩබල්
                        ඇඩ්වාන්ස් මේවත් දාන්න. ඕනේ ඒක නිසා මේ ෆෝම් එක සෑහෙන්න වෙනස් කරන්න වෙනවා.
                        මුලින්ම කස්ටමර් ව සේව් කරලා ඉවර කරන්න ඉට පස්සේ. පේමන්ට් ටයිප් එක සිලෙක්ට් කරලා දන්න පුළුවන්
                        වෙන්න ඕනේ. පස්සේ තමයි ලොන් එක දාන්න වෙන්න‍ේ

                    </h1>


                    <button mat-raised-button class="btn btn-success pull-right" (click)="apply()">save</button>


                </div>
            </div>
        </div>
    </div>
</div>