<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Expences</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                <mat-form-field>
                    <mat-label>Select Expence Type</mat-label>
                    <mat-select [(ngModel)]="selectedExType">
                        <mat-option *ngFor="let t of exTypes" [value]="t.id">
                            {{t.type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" [(ngModel)]="description">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Date" type="date" [(ngModel)]="date">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="To Whom" [(ngModel)]="to">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Amount" [(ngModel)]="amount">
                </mat-form-field>

                <button mat-raised-button class="btn btn-success pull-right" (click)="apply()">save</button>

            </div>
        </div>
    </div>