<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div  class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of menuItems" >
                <div [routerLink]="[item.path]">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">{{item.icon}}</i>
                            </div>

                            <h5 class="card-title">{{item.title}}</h5>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>